{% extends "app/layout.html" %}

{% block content %}

<h3>{{ title }}</h3><br />

<div class="row">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {% for post in posts %}
            <div style="display: inline-block; float: left; padding-right: 20px;"><img class="card-img-top1" src="{{post.image.url }}" alt="Изображение" width="333.3333333333333" /></div>
            <div style="display: inline-block; float: left;"></div><h3>Наименование: {{ post.title }}</h3>
            <h3>Описание: {{ post.description }}</h3>
            <h3>Стоимость: {{ post.price }}₽</h3><br />
        </div>
        {% endfor %}

        {{ orderform.as_p }}
        {% if user.is_authenticated %}<button type="submit">В корзину</button>{% endif %}
        <a href="{% url 'home' %}" type="submit">Вернуться</a>
</div>
    </form>
</div>
</div>
{% endblock %}
