{% extends "app/layout.html" %}

{% block content %}
 {% for post in posts %}
             {% for post_1 in posts_all %} 
      
                         {% if post_1.id == post.post_id %} 
<h3>{{ title }} {{post.id}}</h3><br />
   {% endif %} 
                     {% endfor %} 
        {% endfor %}
<div class="row">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {% for post in posts %}
             {% for post_1 in posts_all %} 
      
                         {% if post_1.id == post.post_id %} 


                             <h3>Наименование: {{ post_1.title}}</h3> 
 <h4>Количество: {{ post.qnt}}</h4> 
 <h4>Сумма: {% widthratio post_1.price 1 post.qnt %}</h4> 
                             {% if post.ready %}<h5>Статус: Оплачен</h4> 
                     {% else %}<h4>Статус: Не оплачен</h4>{% endif %}
<h4> Email: {{bob.email}} </h4>
                             <img class="card-img-top1" src="{{post_1.image.url }}" alt="Изображение"  /> 
                         {% endif %} 
                     {% endfor %} 
        {% endfor %}

        {{ orderform.as_p }}


      <br>     <br> <a href="{% url 'allorders' %}" type="submit">Вернуться</a> 
            <div class="blog_comment">

 

</div>
   
{% endblock %}
